PORT=
# CORS allowed origins. They are space-separated list of origins. For example: "http://localhost:3000 http://localhost:5173 http://localhost:5174 http://localhost:5175 http://127.0.1:5173 http://127.0.1:5174 http://127.0.1:5175 http://localhost:8000 "
ALLOWED_ORIGIN=
DATABASE_URL=
API_BASE_URL=
FILE_STORAGE_PROVIDER=
MAX_FILE_SIZE_MB=
SIGNED_URL_EXPIRES_IN=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
REDIS_URL=
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=
